/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap'); */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import "./fonts.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* TinyMCE Editor */
.tox-editor-container {
  z-index: 0;
}


@layer base {
  body {
    @apply bg-light-1 font-roboto dark:bg-dark-2 dark:text-white;
  }

  h1 {
    @apply text-3xl;
    font-weight: 700;
  }
}


@layer components {
  .btn-primary {
    @apply p-4 py-1 rounded bg-primary-500 text-white;
  }

  .hero {
    @apply flex flex-col justify-center items-center gap-4;
  }

  .dashboard_search {
    @apply w-full bg-light-2 rounded p-2 pl-10 focus:outline-0 dark:bg-dark-3;
  }

  .no_result_found {
    @apply text-sm text-primary-500 dark:text-primary-300;
  }

  .note_list {
    @apply w-full flex items-center gap-4 py-2 border-b-[.5px] border-b-gray-200 dark:border-dark-5 dark:text-off-white;
  }

  .bottom_tab_bar {
    @apply bg-light-1 fixed bottom-0 w-full h-20 border-t-[.5px] border-light-2 shadow-2xl dark:bg-dark-2 dark:border-dark-5;
  }

  .left_sidebar_container {
    @apply h-full w-full fixed z-50 top-0 bottom-0 bg-[#2222229b] ;
  }

  .left_sidebar {
    @apply py-4 px-6 relative bg-light-1 w-10/12 h-full flex flex-col gap-6 justify-between overflow-scroll dark:bg-dark-2 dark:shadow;
  }

  .left_sidebar_menu {
    @apply flex flex-col gap-2;
  }
  
  .auth_form{
    @apply bg-light-1 shadow border-[.5px] rounded p-4 md:shadow-none md:border-0 dark:bg-dark-3 dark:shadow-none dark:border-0
  }
}


@layer utilities {
  .flex-center {
    @apply flex justify-center items-center dark:text-white;
  }

  .h1-bold {
    @apply text-dark-4 text-4xl font-bold md:text-5xl dark:text-white;
  }

  .h2-bold {
    @apply text-dark-4 text-2xl font-bold md:text-4xl dark:text-white;
  }

  .h3-bold {
    @apply text-dark-4 text-xl font-bold dark:text-white;
  }

  .h4-bold {
    @apply text-dark-4 font-bold dark:text-white;
  }

  .big_heading-1 {
    @apply mb-6 text-dark-4 font-bold md:text-4xl dark:text-white;
    font-size: 2.4rem;
  }

  .info {
    @apply text-dark-5 leading-7 text-sm md:text-2xl dark:text-light-4;
  }

  .custom_container {
    @apply w-full px-8 py-4 md:px-32;
  }

  .submit_button {
    @apply my-6 bg-primary-600 text-white rounded w-full h-12 flex items-center justify-center gap-2 hover:bg-primary-700 disabled:bg-primary-500;
  }

  .form_input {
    @apply w-full py-3 px-2 bg-light-2 rounded focus:outline-0 dark:bg-dark-4;
  }

  .form_error {
    @apply text-sm text-red-500 dark:text-red-200;
  }

  .text-tiny {
    font-size: 12px;
  }

  .z-max {
    z-index: 99999;
  }
  
  .note_container h1{
    @apply text-4xl mt-3 mb-2;
  }
  .note_container h2{
    @apply text-3xl mt-3 mb-2;
  }
  .note_container h3{
    @apply text-2xl mt-3 mb-2;
  }
  .note_container h4{
    @apply text-xl mb-2;
  }
  .note_container h5{
    @apply text-xl mb-2;
  }
  .note_container h6{
    @apply text-xl mb-2;
  }
  
  .note_container ul{
    margin: 6px 0;
  }
  
  .note_container ul{
    list-style-type: disc;
    margin-left: 30px;
  }
  
  .note_container ol{
    list-style-type: decimal;
    margin-left: 30px;
  }
}
